# 폐병 환자 수술(Thoraric Surgery)
## - 은닉층(hidden layer)을 여러개 둠

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dataset/ThoraricSurgery.csv',header=None)
df.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [4]:
# 데이터셋 만듦
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:,:-1].values, df.iloc[:,-1].values,
    stratify=df.iloc[:,-1].values, random_state=2021
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((352, 17), (118, 17), (352,), (118,))

In [5]:
import tensorflow as tf
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [6]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [8]:
model = Sequential([
    model.add(Dense(24, input_dim=17, activation='relu'))
    model.add(12, activation='relu')  
    model.add(Dense(12,activation='sigmoid'))
])
model.summary()

SyntaxError: invalid syntax (<ipython-input-8-c34468c6fee7>, line 3)

In [ ]:
model.compile(
    loss = 'binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [ ]:
model.fit(
    X_train, y_train,
    validation_split=0.2,
    epochs=30,
    batch_size=30
)

In [ ]:
model.evaluate(X_test, y_test)

# 학습과정 시각화

In [9]:
type(history.history)

NameError: name 'history' is not defined

In [ ]:
# 훈련데이터 정확도
accuracy = history.history['accuracy']
loss = history.history['loss']
accuracy[:3]

In [ ]:
# 검증 데이터 정확도/손실값
val_accuracy = hisotry.history['val_accuracy']
val_loss = history.history['val_loss']
val_loss[:3]